/*
#93B7BE
#F1FFFA
#D5C7BC
#785964
#454545
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

  
  .header { 
    grid-area: header; 
    display: flex;
    background-color: #93B7BE;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 200px;
    padding: 15px;
        
}

.header img:hover {
  
    filter: opacity(0.4) drop-shadow(0 0 0 red); 
    transform:scale(1.2);
}
.header ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.header li, .footer li{
  margin: 5px;
}

.header a, .footer a{
    color: white;
    text-decoration: none;
}

.header a:hover, .footer a:hover{
  color: #F1FFFA;
  font-weight: bold;
}

main{
  min-height: 80vh;
  background-color: #D5C7BC;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .texto h2 {
  text-align: center;
}

main .texto p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 15px;
  width: 40vw;
  display: flex;
  text-align: center;
}

.titulo { 
  display: flex; 
  color: #454545;
  background-color: #D5C7BC;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.grid-containerimg{
  max-width: 850px;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.grid-containerimg div{
  width: 280px;
  height: 250px;
  overflow: hidden;
}

.grid-containerimg img{
  height: 350;
  padding: 15px;
}

.cartaColores img{
  display: flex;
  width: 90vw;
  margin: 15px auto;
}

.form{
  margin: 10px;
}

.footer {
  background-color: #93B7BE;
}

.footer ul{
  display: flex;
  list-style: none;
  width: 450px;
  margin: 0 auto;
  justify-content: center;
}


.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:10px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}

@media (max-width: 850px){
  .grid-containerimg{
  grid-template-columns: repeat(2, 1fr);
  }
}



@media (max-width: 690px){
  .header{
    flex-direction: column;
  }
    .grid-containerimg{
    grid-template-columns: 1fr;
  }

  .footer ul{
    width: 180px;
  }

main{
  flex-direction: column;
}

}





